@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Quicksand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Quicksand-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Quicksand-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'bukhari-script';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/bukhari-script.ttf") format("truetype");
}

#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

body {
  background-color: #150F0C;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.left-side {
  height: 100%;
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  overflow-y: auto;
  padding: 4rem 0;
  z-index: 4;
}

.right-side * {
  color: white;
  font-family: "Quicksand";
}

.left-side-texts {
  padding: 2rem 0;
  margin-bottom: 3rem;
}

h3 {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 4rem;
  color: #B88C74;
  width: 100%;
  text-align: center;
}

h1 {
  font-family: "bukhari-script";
  font-size: 6rem;
  width: 100%;
  text-align: center;
  color: white;
}

.description {
  font-family: "Quicksand";
  margin-top: 4rem;
  font-size: 2rem;
  width: 90%;
  max-width: 640px;
  color: #B88C74;
  text-align: center;
  width: 100%;
}

.divider {
  width: 90%;
  max-width: 640px;
  height: 1px;
  background: #ffffff;
  margin: 2rem 0;
}

.bottom-text {
  font-family: "bukhari-script";
  font-size: 4rem;
  margin-top: 1rem;
}

.image-1 {
  display: block;
  z-index: 1;
  position: absolute;
  top: -250px;
  left: 45%;
  transform: translateX(-40%) rotate(211deg);
  width: 500px;
  height: 500px;
}

.image-2 {
  display: block;
  z-index: -1;
  position: absolute;
  bottom: -100px;
  right: -350px;
  transform: rotate(45deg);
  width: 500px;
  height: 500px;
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.time-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-cont span {
  margin-top: 0.5rem;
}

.time {
  background-color: #333;
  color: #fff;
  font-size: 40px;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time.milisecs {
  width: 120px;
}

.timer-labels {
  width: 580px;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.timer-description {
  font-size: 2rem;
  margin-top: 2rem;
}

.slide {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
}

.swiper {
  width: 100%;
  max-width: 576px;
  height: 600px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 24px;
  height: 24px;
  background-color: #B88C74;
  border-radius: 999px;
  cursor: pointer;
}

.swiper-button-next {
  margin-left: 1rem;
}

.swiper-button-prev svg {
  transform: rotate(-90deg);
}

.swiper-button-next svg {
  transform: rotate(90deg);
}

.desktop {
  display: block;
}
.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .image-1,
  .image-2 {
    display: none;
  }

  .app {
    flex-direction: column;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
    overflow: unset;
  }

  body {
    overflow-y: auto;
  }

  h3 {
    font-size: 9vw;
  }
  h1 {
    font-size: 17vw;
  }
  .description {
    font-size: 5vw;
    padding: 0 2rem;
  }
  .right-side .timer-description {
    font-size: 5vw;
  }
  .right-side .bottom-text {
    font-size: 10vw;
  }

  .time {
    font-size: 4vw;
    width: 10vw;
  }

  .time.milisecs {
    width: 12vw;
  }
  .time-cont span {
    font-size: 2vw;
  }

  .swiper {
    width: 90%;
    height: 100vw;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}