body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.countdown {
  text-align: center;
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.time {
  background-color: #333;
  color: #fff;
  font-size: 40px;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 50%;
}


/* Hide the images by default */
.mySlides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 800px;
  object-fit: contain;
  margin: auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  width: 16.66%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row {
  display: flex;
    justify-content: center;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}